.home {
    min-height: calc(100vh - 80px);
}

.hero {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
}

.hero-content {
    max-width: 700px;
    animation: slideLeft 1s ease;
}

.welcome {
    font-size: 22px;
    color: #ffd369;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.hero-content h1 span {
    color: #ffd369;
}

.hero-content h2 {
    font-size: 30px;
    margin: 20px 0;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-primary {
    padding: 14px 28px;
    background: white;
    color: #667eea;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-secondary {
    padding: 14px 28px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover,
.btn-secondary:hover {
    transform: translateY(-5px);
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width:768px) {

    .hero {
        padding: 40px 20px;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content h2 {
        font-size: 24px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn-primary,
    .btn-secondary {
        width: 220px;
    }
}